h1{
    color: brown;
}
.oznakareda{
    color:green;
}
.sjedalo{
    color: red;
}
.sjedalo:hover {
    background-color: blue;
}
.zauzeto{
    background-color: grey;
}
.izabrano{
    background-color: aquamarine;
}
#kolikoOdabranih{
    
}